.contact{
width: 40%;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
background-color:#0C0F3A;
border-radius: 10px;
}
.contact-container{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShPJMBfsVBMcO9fOm9i1MdCdFT0vb7cy-qig&s");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
textarea{
    outline: none;
}